# Project exclude pathshost.header
/Domain/target/
/Facade/target/
/Infrastructure.Persistence/target/
/Infrastructure.Security/target/
/Infrastructure.Services/target/
/Infrastructure.Util/target/
/Presentation.API/target/
/target/
/.idea
/.run